<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="webjars/vue/2.6.10/dist/vue.js"></script>
    <script src="webjars/axios/0.19.0/dist/axios.js"></script>
    <script src="webjars/jquery/3.4.1/jquery.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="webjars/momentjs/2.24.0/moment.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.css">
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div.item {
            margin: 10px;
            padding-top: 10px;
            border: thin solid slategray;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="row">
        <div class="col-10 row">
            <div @click="moveDay(-1)" class="col-2 center"><img src="icon/arrow-left.svg" width="25"></div>
            <div onclick="location.replace('/');" class="col-5 center text-dark">
                <strong v-if="isToday()"> Today </strong>
                <span v-else>{{dayDisplay()}}</span>
            </div>
            <div @click="moveDay(+1)" class="col-2 center"><img src="icon/arrow-right.svg" width="25"></div>
        </div>
        <div class="col-2 center dropdown text-right">
            <a class="btn" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                <img src="icon/justify.svg" width="30">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#"> Record </a>
                <a class="dropdown-item" href="/edit.html?mode=new"> New </a>
                <a class="dropdown-item" href="/edit.html?mode=edit"> Edit </a>
                <a class="dropdown-item" href="/manual.html"> Manual </a>
            </div>
        </div>
    </div>
    <div v-for="(item, index) in items" class="row item">
        <div class="col-9">
            <h5> {{item.name}} </h5>
            <div class="row">
                <div class="col-6">
                    {{item.continuousDays}} days
                </div>
                <div class="col-6 text-right">
                    {{item.weekAchieved}}/{{item.weekGoal}}
                </div>
            </div>

            <table @click="historyPage(item.habitId)" class="table table-sm">
                <tr>
                    <template v-for="(a, index) in item.activities">
                        <td v-bind:style="{backgroundColor: weekdayBackground(a), outline: weekdayOutline(index)}" class="border"></td>
                    </template>
                </tr>
            </table>
        </div>
        <div class="col-3 center">
            <img @click="toggleItem(index)" v-if="item.checked" :src="'adioma/blue/' + item.icon" style="height: 60px;">
            <img @click="toggleItem(index)" v-else :src="'adioma/gray/' + item.icon" style="height: 60px;">
        </div>
    </div>
</div>
</body>
</html>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            day: '',
            items: []
        },
        created: function () {
            let urlParams = new URLSearchParams(window.location.search);
            this.day = urlParams.get('day');
            if (!this.day) this.day = moment().format('YYYY-MM-DD');

            axios.get('/item/' + this.day).then((response) => {
                this.items = response.data;
            });
        },
        methods: {
            toggleItem(index) {
                axios.post('item/' + this.day + '/' + this.items[index].habitId);
                location.reload();
            },
            moveDay(days) {
                location.href = "/?day=" + moment(this.day).add(days, 'days').format('YYYY-MM-DD');
            },
            isToday() {
                return this.day == moment().format('YYYY-MM-DD');
            },
            dayDisplay() {
                return moment(this.day).format('M.D ddd');
            },
            weekdayBackground(activity) {
                if (activity) return 'lightgoldenrodyellow';
                else if (activity == false) return 'lightgray';
                else return '';
            },
            weekdayOutline(index) {
                if (index == (moment(this.day).isoWeekday() - 1)) return '1px solid green';
                else return '';
            },
            historyPage(habitId) {
                location.href = "/history.html?habitId=" + habitId;
            }
        }
    });
</script>